<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"  xml:lang="ko">
<meta charset="utf-8">
<head>
<title>DNF:Luke Raid_YeonI</title>
</head>

<body>
<h1 style="color: #5e9ca0; text-align: center;">연이공대 <span style="color: #2b2301;">3기</span> 솔라움마키나 : 칼리고</h1>

<div class="jumbotron text-center">
  <div class="container">
	<p style="text-align: center;"><iframe width="640" height="360" src="https://www.youtube.com/embed/kkeEX8tCy-I" frameborder="0" allowfullscreen=""></iframe></p>
	
	<h2 style="color: #2e6c80; text-align: center;">연이공대 통합 공대표</h2>
	<h2 style="text-align: center;"><img src="./image/raid_memberlist.png" alt="raid_memberlist" ></h2>
  </div>
</div>


</body>
</html>
